//
//  Staging.xcconfig
//  iOSConfigDemo
//
//  Created by Akib Quraishi on 02/04/2026.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

API_BASE_URL = https:/$()/staging-api.example.com
APP_ENVIRONMENT = staging
ENABLE_VERBOSE_LOGGING = YES
APP_DISPLAY_NAME = iOS Config Demo
